.service-container{
    border: 3px solid rgba(0, 255, 255, 0.176);
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.service-container img{
    border-radius: 5px;
}

.button{
        text-decoration: none;
        background-image: linear-gradient(orange, tomato);
        padding: 5px 20px;
        border-radius: 5%;
        color: white;
        font-weight: 700;
}
